/*========== FONT LIKED HERE ==========*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@400;500;600;700&display=swap");
/*========== FONT LIKED HERE// ==========*/

/*========== BASIC STYLE ==========*/
:root {
  --bs-body-color: #121417;
  --bs-body-color-rgb: 18, 20, 23;
  --bs-gray-600: #636c7d;
  --bs-gray-500: #a9afbb;
  --bs-gray-300: #dddfe4;
  --bs-primary: #f25621;
  --bs-primary-rgb: 242, 86, 33;
  --bs-gradient: linear-gradient(203.66deg, #FFFFFF 0%, #F25621 80.02%, #CC0074 100.03%);

  --bs-yellow: #e2c42c;
  --bs-purple: #ba90e4;
  --bs-orage: #ff7d52;
  --bs-green: #30cf72;

  --bs-warning: #f6a90e;
  --bs-warning-rgb: 246, 169, 14;
  --bs-blue: #2767e7;
  --bs-blue-rgb: 39, 103, 231;

  --bs-cyan: #00e0ce;
  --bs-pink: #CC0074;

  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  position: relative;
}
body {
  font-family: var(--font-body);
  font-weight: normal;
  font-style: normal;
  color: var(--bs-body-color);
  font-size: 16px;
}
p {
  line-height: 1.5;
  margin-bottom: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--bs-body-color);
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 1.17;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

.fs-3{
  font-size: 24px !important;
}
.fs-4{
  font-size: 14px !important;
}
h6.fs-4{
  line-height: 1.42;
}
.fs-5{
  font-size: 12px !important;
}
.fs-6{
  font-size: 11px !important;
}

img {
  max-width: 100%;
  transition: 0.3s;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--bs-primary);
}
a,
button {
  transition: 0.3s ease;
  color: inherit;
  outline: medium none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: 0;
}
button:focus,
input:focus,
textarea:focus {
  outline: 0;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
*::selection,
*::-moz-selection {
  background: #007acc;
  color: #fff;
  text-shadow: none;
}
/* INPUT, SELECT, TEXTAREA, PLACEHOLDER */
input, textarea {
  max-width: 100%;
	transition: 0.3s ease;
}
.form-control:focus, .form-select:focus,
input:focus,
textarea:focus {
  box-shadow: 0 0;
  border-color: var(--bs-primary);
}

.form-control::placeholder,
::-moz-placeholder,
::placeholder {
  color: var(--bs-gray-500);
    opacity: 1;
}
::-ms-placeholder {
  color: var(--bs-gray-500);
}
::-webkit-input-placeholder {
  color: var(--bs-gray-500);
}
/*========== BASIC STYLE// ==========*/

/*========== SCROLL UP ==========*/
.scroll-up {
  position: fixed;
  bottom: 0;
  right: 1em;
  height: 2em;
  width: 2em;
  background: var(--bs-primary);
  border-radius: .75em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bs-white);
  transition: 0.3s ease;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  z-index: 999;
}
.scroll-up.sticky {
  bottom: 1em;
  opacity: 1;
  pointer-events: all;
}
.scroll-up:hover {
  opacity: 0.8;
}
/*========== SCROLL UP// ==========*/

/*========== CONTAINER WIDTH ==========*/
.container {
  max-width: 1224px;
}
/*========== CONTAINER WIDTH// ==========*/

/*========== GLOBAL CSS ==========*/
.bg-attachment {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bs-gray-300);
}
.overlay::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  transition: 0.3s ease;
  border-radius: inherit;
}
.overlay-100::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}
.overlay-75::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 74.51%, #000000 100%);
}


.slick-slider {
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.slick-slide {
  margin-right: calc(var(--bs-gutter-x) * 0.5);
  margin-left: calc(var(--bs-gutter-x) * 0.5);
}

.btn {
	--bs-btn-padding-x: 1.35em;
	--bs-border-width: 2px;
	font-weight: 700;
	--bs-btn-padding-y: 0.6em;
}
.btn-sm {
	font-size: 12px;
	--bs-btn-padding-y: 0.8em;
}
.btn-outline-secondary {
	--bs-btn-color: var(--bs-body-color);
	--bs-btn-border-color: var(--bs-gray-300);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: var(--bs-primary);
	--bs-btn-hover-border-color: var(--bs-primary);
}
.btn-primary {
	--bs-btn-bg: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
	--bs-btn-hover-bg: #e04916;
	--bs-btn-hover-border-color: #e04916;
	--bs-btn-active-bg: #e04916;
	--bs-btn-active-border-color: #e04916;
	--bs-btn-disabled-bg: var(--bs-primary);
	--bs-btn-disabled-border-color: var(--bs-primary);
}
.btn-sq {
	height: 2.5em;
	width: 2.5em;
	padding: 0;
}
.place-center{
  display: grid;
  place-content: center;
}

.font-body{
  font-family: var(--font-body);
}
.font-heading{
  font-family: var(--font-heading);
}
.bg-body{
  --bs-body-bg-rgb: var(--bs-body-color-rgb);
}
.section-padding-y{
  padding-top: 5em !important;
  padding-bottom: 5em !important;
}
.clip-start {
  --clip-value: 2.5em;
	clip-path: polygon(0 var(--clip-value), 100% 0, 100% 100%, 0 calc(100% - var(--clip-value)));
}
.clip-end {
  --clip-value: 2.5em;
	clip-path: polygon(0 0, 100% var(--clip-value), 100% calc(100% - var(--clip-value)), 0 100%);
}
.clip-top-left {
  --clip-value: 2.5em;
	clip-path: polygon(0 var(--clip-value), 100% 0, 100% 100%, 0 100%);
}
/*========== GLOBAL CSS// ==========*/

/*========== PRELOADER ==========*/
.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  z-index: 999999;
  transition: 0.3s ease;
}
.preloader.hide {
  opacity: 0;
  pointer-events: none;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--bs-primary);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*========== PRELOADER// ==========*/

/*========== HEADER AREA ==========*/
.header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: 0.3s ease;
  padding: 0.5em 0;
}
.header-wrapper.sticky {
	position: fixed;
	padding: 0.5em 0 !important;
	background: #fff;
	animation: slideInDown 0.5s ease;
	box-shadow: var(--bs-box-shadow-sm);
}
@keyframes slideInDown {
  0%{transform: translateY(-100%);}
  100%{transform: translateY(0%);}
}
.header-wrapper .form-control {
	width: 25em;
}
#search-mobile{
  display: none;
  animation: fadeIn .5s ease;
}
#search-mobile.show{
  display: block;
}
@keyframes fadeIn {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
/*========== HEADER AREA// ==========*/

/*========== HERO AREA ==========*/
.card-featured {
	min-height: 25em;
}
.card-featured .card-body{
  flex: none;
}
.card.rounded-5{
  --bs-border-radius-xxl: 1.5rem;
}
.shadow{
  box-shadow: 0px 4px 1em 0px rgba(0, 0, 0, 0.1) !important;
}
/*========== HERO AREA// ==========*/

/*========== BACKPACKERS AREA ==========*/
.mw-30{
  max-width: 30%;
}

.btn-outline-light {
	--bs-btn-color: var(--bs-white);
	--bs-btn-border-color: var(--bs-white);
	--bs-btn-hover-bg: var(--bs-white);
	--bs-btn-hover-border-color: var(--bs-white);
	--bs-btn-active-bg: var(--bs-white);
	--bs-btn-active-border-color: var(--bs-white);
	--bs-btn-disabled-border-color: var(--bs-white);
}

.card{
  --bs-card-img-overlay-padding: 0;
}
.bg-opacity-40 {
  --bs-bg-opacity: 0.4;
}
.card-img-overlay{
  transition: .3s ease;
}
.card-overlay-zoom:hover .card-img-overlay{
  scale: 1.2;
}

.backpackers-area .card{
  height: 6.5em;
}
/*========== BACKPACKERS AREA// ==========*/

/*========== CTA AREA ==========*/
.border-0 {
  --bs-border-width: 0;
}
.input-group-text {
  font-size: 1em;
  padding: 0;
}
.input-group {
  border: 1px solid var(--bs-gray-500);
  padding: .5em .5em;
  border-radius: 1.25em;
}
.input-group .input-group-text:first-child {
  padding: 0 0.8em;
}
.input-group .form-control::placeholder {
  color: var(--bs-body-color);
}
.cta-area .icon-img{
  width: 5em;
}
/*========== CTA AREA// ==========*/

/*========== GALLERY AREA ==========*/
.gallery .card {
	min-height: 15em;
}
.gallery .col:nth-child(4n) > .card,
.gallery .col:nth-child(4n + 1) > .card {
	min-height: 20em;
}
.gallery .col:nth-child(4n) > .card {
	margin-top: -5em;
}
.btn-light {
	--bs-btn-color: var(--bs-body-color);
	--bs-btn-bg: var(--bs-white);
	--bs-btn-border-color: var(--bs-white);
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: var(--bs-cyan);
	--bs-btn-hover-border-color: var(--bs-cyan);
	--bs-btn-active-bg: var(--bs-cyan);
	--bs-btn-active-border-color: var(--bs-cyan);
	--bs-btn-disabled-bg: var(--bs-white);
	--bs-btn-disabled-border-color: var(--bs-white);
}
.btn-text-pink {
	--bs-btn-color: var(--bs-pink);
}
.btn-text-primary {
	--bs-btn-color: var(--bs-primary);
}
.page-link {
  --bs-pagination-border-radius: 50rem;

  --bs-pagination-color: var(--bs-body-color);
  --bs-pagination-active-color: var(--bs-body-color);
  --bs-pagination-hover-color: var(--bs-body-color);
  --bs-pagination-focus-color: var(--bs-body-color);

  --bs-pagination-border-color: var(--bs-gray-500);
  --bs-pagination-active-border-color: var(---bs-body-color);
  --bs-pagination-hover-border-color: var(---bs-body-color);

  --bs-pagination-active-bg: var(--bs-white);
  --bs-pagination-hover-bg: var(--bs-white);
  --bs-pagination-focus-bg: var(--bs-white);

  --bs-pagination-focus-box-shadow:0 0;
  height: 2.5em;
  min-width: 2.5em;
  display: inline-grid;
  place-content: center;
  border-radius: 50rem;
}
.page-item:not(:first-child) .page-link,
.page-link{
  margin: 0 0.25em;
}
.page-item:first-child .page-link,
.page-item:last-child .page-link {
  --bs-pagination-color: var(--bs-gray-500);
  --bs-pagination-border-color: transparent;
  --bs-pagination-hover-border-color: transparent;
  box-shadow: 0px 2px .5em 0px rgba(0, 0, 0, 0.15);

}
/*========== GALLERY AREA// ==========*/

/*========== GUIDES AREA ==========*/
.list-group {
  --bs-list-group-color: var(--bs-body-color);
	--bs-list-group-bg: transparent;
	--bs-list-group-border-color: #C08207;
	--bs-list-group-border-width: 1px;
	--bs-list-group-item-padding-y: 1.2em;
	--bs-list-group-action-color: var(--bs-body-color);
	--bs-list-group-action-hover-color: var(--bs-body-color);
	--bs-list-group-action-hover-bg: #fff;
	--bs-list-group-action-active-color: var(--bs-body-color);
	--bs-list-group-action-active-bg: transparent;
	--bs-list-group-active-color: var(--bs-body-color);
	--bs-list-group-active-bg: transparent;
	--bs-list-group-active-border-color: #fff;
  gap: 1em 0;
}
.list-group-white{
  --bs-list-group-color: #fff;
	--bs-list-group-border-color: #fff;
	--bs-list-group-action-color: #fff;
}
.list-group-item + .list-group-item {
	border-top-width: var(--bs-list-group-border-width);
}
.list-group-item {
	border-radius: inherit;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
}
.list-group-item:hover{
	--bs-list-group-border-color: #fff;
}
.list-group-item i {
  transition: inherit;
  padding-left: .5em;
  padding-right: .5em;
}
.list-group-item:hover i {
  transform: translate(.25em);
}
.bg-blue{
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-blue-rgb), var(--bs-bg-opacity)) !important;
}
/*========== GUIDES AREA// ==========*/

/*========== FEED AREA ==========*/
.feed-slider .card {
	padding-bottom: 130%;
}
.feed-slider {
	margin-right: -5%;
}
.feed-slider .slick-track {
	left: 1em;
}
/*========== FEED AREA// ==========*/

/*========== FOOTER AREA==========*/
.social-links a {
  font-size: 2em;
  color: var(--bs-white);
}
.social-links a:hover {
  color: var(--bs-primary);
}
a.text-white:hover{
  color: var(--bs-primary) !important;
}
.nav-white {
	--bs-nav-link-color: var(--bs-white);
	--bs-nav-link-hover-color: var(--bs-primary);
}
.nav {
  --bs-nav-link-padding-x: .65em;
}
.nav:not(.flex-column){  
  margin-left: calc(var(--bs-nav-link-padding-y)* -1);
}
.nav.flex-column{
  --bs-nav-link-padding-x: 0;
	--bs-nav-link-padding-y: 1em;
}

.footer-area{
  padding-top: 5.625em;
  background-color: var(--bs-cyan);
}
/*========== FOOTER AREA// ==========*/
